NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nombre

REDIS_URL=redis://localhost:6379

JWT_SECRET=mi-super-secreto-cambiame
JWT_REFRESH_SECRET=token rtefres
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5432

AWS_BUCKET_NAME=tu-bucket-name
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu-access-key
AWS_SECRET_ACCESS_KEY=tu-secret-key